* {
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
    /* Hide horizontal scrollbar */
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.aboutimg {
    width: 100%;
    height: 500px;
}

.img-thumbnail {
    height: 200px;
}

.zoom {
    float: left;
    display: block;
    padding: 2% 2% 2% 2%;
    transition: transform 1.5s;
    height: 100%;
    width: 100%;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.marquee {
    width: 80vw;
    height: 20vh;
    background: none;
    color: #eee;
    overflow: hidden;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(80vw);
    }
    100% {
        transform: translateX(-180vw);
    }
}

.marquee-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    flex-shrink: 0;
}

.more-info {
    margin-top: 140px;
}

.more-info .left-image img {
    width: 100%;
    overflow: hidden;
}

.more-info .more-info-content {
    background-color: #f7f7f7;
}

.about-info .more-info-content {
    background-color: transparent;
}

.about-info .right-content {
    padding: 0px!important;
    margin-right: 80px;
    text-align: justify;
}

.more-info .right-content {
    padding: 45px 45px 45px 30px;
}

.more-info .right-content span {
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.more-info .right-content h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
    text-decoration: underline;
}

.more-info .right-content em {
    font-style: normal;
    color: #154360;
}

.more-info .right-content p {
    margin-bottom: 30px;
}


/* team */

.team {
    background-color: #f7f7f7dc;
    margin-top: 140px;
    margin-bottom: -140px;
    padding: 120px 0px;
}

.team-item img {
    width: 100%;
    overflow: hidden;
}

.team-item .down-content {
    background-color: #fff;
    padding: 30px;
}

.team-item .down-content h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
}

.team-item .down-content span {
    color: #154360;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

.team-item .down-content p {
    margin-bottom: 20px;
}


/*Team 1*/

.team1 {
    background-color: #f7f7f7dc;
    margin-top: 0px;
    margin-bottom: -140px;
    padding: 120px 0px;
}

.team1-item img {
    width: 100%;
    overflow: hidden;
}

.team1-item .down-content {
    background-color: #fff;
    padding: 30px;
}

.team1-item .down-content h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
}

.team1-item .down-content span {
    color: #154360;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

.team1-item .down-content p {
    margin-bottom: 20px;
}


/*Section*/

.section-heading {
    text-align: center;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 36px;
    font-weight: 600;
    color: #1e1e1e;
}

.section-heading em {
    font-style: normal;
    color: #154360;
}

.section-heading span {
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
}

.filled-button {
    background-color: #154360;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
}

.filled-button:hover {
    background-color: #fff;
    color: #154360;
}

#more {
    display: none;
    color: rgba(0, 0, 0, 0.782);
}

#more1 {
    display: none;
    color: rgba(0, 0, 0, 0.782);
}

#more2 {
    display: none;
    color: rgba(0, 0, 0, 0.782);
}

#more3 {
    display: none;
    color: rgba(0, 0, 0, 0.782);
}

#more4 {
    display: none;
    color: rgba(0, 0, 0, 0.782);
}

#more5 {
    display: none;
    color: rgba(0, 0, 0, 0.782);
}

#more6 {
    display: none;
    color: rgba(0, 0, 0, 0.782);
    text-transform: lowercase;
}


/* Fun Facts */

.fun-facts {
    margin-top: 140px;
    background-image: url(../blogs/img-17.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    color: #fff;
}

.fun-facts span {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.fun-facts h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.fun-facts em {
    font-style: normal;
    color: #154360;
}

.fun-facts p {
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
}

.fun-facts .left-content {
    margin-right: 45px;
}


/* Fun Facts 1 */

.fun-facts1 {
    margin-top: 140px;
    background-image: url(../appointment1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    color: #fff;
}

.fun-facts1 span {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.fun-facts1 h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.fun-facts1 em {
    font-style: normal;
    color: #154360;
}

.fun-facts1 p {
    color: #fff;
    margin-bottom: 40px;
}

.fun-facts1 .left-content {
    margin-right: 45px;
}

.fun-facts button {
    color: #154360;
}


/* Footer Style */

footer {
    background-color: #232323;
    padding: 80px 0px;
    color: #fff;
}

footer h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 35px;
}

footer p {
    color: #fff;
}

footer ul {
    list-style-type: none;
}

footer ul.social-icons {
    margin-top: 25px;
}

footer ul.social-icons li {
    display: inline-block;
    margin-right: 5px;
}

footer ul.social-icons li:last-child {
    margin-right: 0px;
}

footer ul.social-icons li a {
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    background-color: #fff;
    color: #232323;
    border-radius: 50%;
    transition: all 0.3s;
}

footer ul.social-icons li a:hover {
    background-color: #154360;
}

footer ul.menu-list li {
    margin-bottom: 13px;
}

footer ul.menu-list li:last-child {
    margin-bottom: 0px;
}

footer ul.menu-list li a {
    font-size: 14px;
    color: #fff;
    transition: all 0.3s;
}

footer ul.menu-list li a:hover {
    color: #154360;
}

footer .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #aaa!important;
    background-color: #343434;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 15px;
}

footer .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #343434;
}

footer .contact-form ::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}

footer .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

footer .contact-form ::placeholder {
    color: #aaa;
}

footer .contact-form button.filled-button {
    background-color: transparent;
    color: #fff;
    background-color: #154360;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

footer .contact-form button.filled-button:hover {
    background-color: #fff;
    color: #154360;
}


/* Sub-footer Style */

.sub-footer {
    background-color: #343434;
    text-align: center;
    padding: 25px 0px;
    margin-bottom: 0 px;
}

.sub-footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.sub-footer a {
    color: #fff;
}


/* Contact Information */

.contact-information {
    margin-top: 140px;
}

.contact-information .contact-item {
    padding: 60px 30px;
    background-color: #f7f7f7;
    text-align: center;
}

.contact-information .contact-item i {
    color: #154360;
    font-size: 48px;
    margin-bottom: 40px;
}

.contact-information .contact-item h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

.contact-information .contact-item p {
    margin-bottom: 20px;
}

.contact-information .contact-item a {
    font-weight: 600;
    color: #154360;
    font-size: 15px;
}

.callback-form {
    margin-top: 140px;
    background-color: #c3cccca0;
}

.callback-form .contact-form {
    padding: 60px;
    border-radius: 5px;
    text-align: center;
}

.callback-form .contact-form input {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0px 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form .contact-form textarea {
    border-radius: 20px;
    height: 120px;
    max-height: 200px;
    min-height: 120px;
    display: inline-block;
    padding: 15px;
    color: #6a6a6a;
    font-size: 13px;
    text-transform: none;
    box-shadow: none;
    border: none;
    margin-bottom: 35px;
}

.callback-form .contact-form textarea:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.callback-form .contact-form ::-webkit-input-placeholder {
    /* Edge */
    color: #aaa;
}

.callback-form .contact-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

.callback-form .contact-form ::placeholder {
    color: #aaa;
}

.callback-form .contact-form button.border-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
}

.callback-form .contact-form button.border-button:hover {
    background-color: #fff;
}


/* Single Service */

.single-services {
    margin-top: 140px;
}

#tabs ul {
    margin: 0;
    padding: 0;
}

#tabs ul li {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

#tabs ul li:last-child {
    margin-bottom: 0px;
}

#tabs ul li a {
    text-transform: capitalize;
    width: 100%;
    padding: 20px 20px;
    display: inline-block;
    background-color: #154360;
    font-size: 15px;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 700;
    transition: all 0.3s;
}

#tabs ul li a i {
    float: right;
    margin-top: 5px;
}

#tabs ul .ui-tabs-active span {
    background: #154360;
    border: #154360;
    line-height: 90px;
    border-bottom: none;
}

#tabs ul .ui-tabs-active a {
    color: #154360;
}

#tabs ul .ui-tabs-active span {
    color: #1e1e1e;
}

.tabs-content {
    margin-left: 30px;
    text-align: left;
    display: inline-block;
    transition: all 0.3s;
}

.tabs-content img {
    max-width: 100%;
    overflow: hidden;
}

.tabs-content h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.tabs-content p {
    font-size: 20px;
    color: #7a7a7a;
    margin-bottom: 0px;
}

#image-galleryr {
    background-color: #7a7a7a;
}


/* Testimonials Style */

.marque {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
    text-overflow: none;
}

@-webkit-keyframes rightThenLeft {
    0% {
        left: 0%;
    }
    50% {
        left: 43%;
    }
    100% {
        left: 0%;
    }
}

.login {
    width: 400px;
    height: 400px;
    border: black;
    margin-left: 100px;
}